.dishes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2%;

    @include bp(m) {
        column-gap: 5%;
    }

    row-gap: 5%;
    padding: 0 5%;
    align-items: flex-start;
}

.dish {
    display: contents;
}

.dish-toggle {
    grid-column: span 12;

    @include bp(m) {
        grid-column: span 6;
    }

    @include bp(l) {
        grid-column: span 4;
    }
    @include bp(xl) {
        grid-column: span 3;
    }

    text-decoration: none;
    height: auto;
    transition: 200ms transform;
    position: relative;

    &:before {
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        position: absolute;
        background: var(--beige);
        border: 3px solid var(--brown);
        left: -10px;
        top: -10px;
        mix-blend-mode: multiply;
        border-radius: 100%;
    }
}

.dish-title {
    font-size: 0;
}

.dish-image {
    display: block;
    max-width: 100%;
}

.dish-toggle-index {
    position: absolute;
    right: 0%;
    bottom: 10%;
    font-family: var(--font-text);
    color: var(--brown);
    font-weight: bold;
    font-size: var(--ms-0);
    @include bp(m) {
        font-size: var(--ms-1);
    }
}

.recipe-section-title {
    font-size: var(--ms-0);

    @include bp(m) {
        font-size: var(--ms-1);
    }
}

.recipe-ingredients {
    grid-column: 1 / 13;
    margin-bottom: 2rem;

    @include bp(m) {
        grid-column: 1 / 3;
    }
}

.recipe-ingredient {
    list-style: none;
    font-size: var(--ms-0);
    margin-bottom: .5em;
    max-width: 15em;
}

.recipe-title {
    font-weight: 600;
    font-size: var(--ms-1);
    grid-column: 1 / 13;
    margin-top: 1em;
    margin-bottom: 2em;
    transform: scaleX(.92);
    letter-spacing: .01em;
    font-family: var(--font-text);
    text-align: center;

    @include bp(m) {
        transform: scaleX(.98);
        font-size: var(--ms-3);
    }
}

.recipe-content {
    grid-column: 1 / 13;
    font-size: var(--ms-0);
    letter-spacing: .01em;
    padding-bottom: 2em;

    @include bp(m) {
        grid-column: 3 / 7;
        font-size: var(--ms-1);
    }

    p {
        max-width: 40em;
        margin-bottom: .5em;
    }

    h2 {
        font-weight: 500;
        margin-top: 1em;
        font-size: var(--ms-1);
        margin-bottom: .5em;
    }
}

.recipe-thumb {
    display: none;
    filter: grayscale(1) contrast(1.1);
    mix-blend-mode: multiply;
    margin-bottom: 1rem;
    grid-column: 3 / 4;

    img {
        width: 100%;
    }
}