* {
    box-sizing: border-box;
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

body {
    background-color: var(--beige);
    background-image: url("/sian-website/assets/noise.png");
    background-size: auto;
    background-repeat: repeat;
    font-size: var(--ms-0);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 20px solid white;
}