.site-header {
    text-align: center;
    font-family: var(--font-display);
}

.site-title {
    padding-top: 1em;
    font-size: var(--ms-5);
    transform: scaleX(80%);
    letter-spacing: .01em;
    color: var(--green);
    opacity: .8;
}