@mixin bp($point) {
    @if $point==xl {
        @media (min-width: 85rem) {
            @content;
        }
    }
    @if $point==l {
        @media (min-width: 70rem) {
            @content;
        }
    }
    @else if $point==m {
        @media (min-width: 45rem) {
            @content;
        }
    }

    @else if $point==s {
        @media (min-width: 35rem) {
            @content;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: fraktur;
    src: url("/sian-website/assets/FetteUNZFraktur.ttf")
}


:root {
    --font-display: 'fraktur', serif;
    --font-text: 'Work Sans', 'Franklin Gothic', Helvetica, sans-serif;
    --beige: #fcf8d3;
    --green: #00fd0d;
    --pink: #cdd0d6;
    --brown: #2a1914;
    --ratio: 1.33;
    --ms-0: 1.12rem;
    --ms--1: calc(var(--ms-0) / var(--ratio));
    --ms-1: calc(var(--ms-0) * var(--ratio));
    --ms-2: calc(var(--ms-1) * var(--ratio));
    --ms-3: calc(var(--ms-2) * var(--ratio));
    --ms-4: calc(var(--ms-3) * var(--ratio));
    --ms-5: calc(var(--ms-4) * var(--ratio));
    --ms-6: calc(var(--ms-5) * var(--ratio));
    --ms-7: calc(var(--ms-6) * var(--ratio));
}
@include bp(m){
    --ms-0: 1.5rem;
}

@include bp(l){
    --ms-0: 1.8rem;
}