* {
    box-sizing: border-box;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --font-text: 'franklin-gothic-urw', 'IBM Plex Mono';
    --ms-0: 1.1rem;
    --ms-1: 1.65rem;
    --ms-2: 2.475rem
}

@media (min-width: 40rem){
    :root {
        --ms-0: 1.3rem;
        --ms-1: 1.95rem
    }
}

body {
    font-size: var(--ms-0);
}