---
layout: base
---

<header class='site-header'>
  <h1 class='site-title'>Setting the Table</h1>
</header>

<nav class='dishes'>
  {% for dish in collections.recipe %}
  <div class='dish'>
  <img class='dish-image' src="{{dish.data.thumb | prepend: "/assets/" | url}}" alt="">
    <h3 class='dish-title'>{{dish.data.title}}</h3>
  </div>
  {% endfor %}
</nav>