---
layout: base
---

<header class='site-header'>
  <h1 class='site-title'>Setting the Table</h1>
</header>

<nav class='home--nav'>
  {% for post in collections.post %}
  <div>
    <h3>Chapter {{forloop.index}}</h3>
    <a href="{{post.url | url}}">{{ post.data.title }}</a>
    <p>{{ post.data.intro }}</p>
  </div>
  {% endfor %}
</nav>